<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="./assets/style.css" />
		<script src="https://unpkg.com/vue@3.4.18/dist/vue.global.js"></script>
		<title>Document</title>
	</head>
	<body>
		<div id="app">
			<h2>{{title.split("").join("-")}}</h2>
			<p>There are {{!tickets ? "no" : tickets}} left</p>
			<p v-if="tickets > 0">You still can by a tiket in market</p>
			<img v-bind:src="img" :alt="imgAlt" />
			<img :src="img2" :alt="img2Alt" />
			<br />
			<button v-on:click="tickets++">add cart</button>
			<ul>
				<li v-for="(detail, index) in details" key="{index}">{{index}} - {{detail}}</li>
			</ul>
		</div>
		<script src="./main.js"></script>
		<script>
			const mountedApp = app.mount("#app")
		</script>
	</body>
</html>
