body {
	background-color: #f0f0f0;
}

img,
button {
	margin-right: 10px;
	margin-bottom: 10px;
}

.tickets__selector {
		display: inline-block;
		vertical-align: top;
		text-align: center;
		width: 100px;
		height: 200px;
		border: 1px solid #333;
		margin-right: 10px;
		overflow: hidden;
	}
